.serverLoadUpdate{
    max-width: 90%;
    width: 1000px;
    background-color: #2a2a2a;
    padding: 20px;
}

.updateGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
}

.updateGroupUnchecked{
    color: #7a7878;
}