#MoneyPotSummaryCard{
    background-color: rgb(31, 31, 31);
    width:70rem;
    max-width: 90%;
    height: 100%;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
    justify-content: space-evenly;
    color: #280e38;
    list-style: none;
    padding: 0;
    color: white;
}

.expenses-list__fallback {
  color: white;
  text-align: center;
}
